<h1>Administration App: Home</h1>
<div class="reg-log">
  <a href="http://localhost:3000/register">REGISTER</a>
  <a href="http://localhost:3000/login">LOGIN</a>
  <button onclick="logout()">LOGOUT</button>
</div>

<div class="users-container">
  <div class="user-label">
    <div class="label">LOGIN</div>
    <div class="label">EMAIL</div>
  </div>
  {{#each users}}
    <div class="user" id="{{this._id}}">
      <button onclick="getUserProfile('{{this._id}}'); return false;">{{@login}}
        {{this.login}}</button>
      <div>{{@email}} {{this.email}}</div>
      <button class="edit" onclick="editUser({{json this._id}})">EDIT</button>
      <button
        class="delete"
        onclick="deleteUser({{json this._id}})"
      >DELETE</button>
    </div>
  {{/each}}
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  async function logout(){ await
  axios.post("http://localhost:3000/users/logout") }; async function
  deleteUser(id) { await
  axios.delete(`http://localhost:3000/users/${id}`).then((response) =>
  console.log(response.data)).catch((err) => console.log(err)); const result =
  confirm("Are you sure?"); if (result) { document.getElementById(id).remove();
  } } function editUser(id) { const userLogin =
  document.getElementById(id).firstElementChild.textContent; const userEmail =
  document.getElementById(id).children[1].innerHTML; var loginInput =
  document.createElement("input"); loginInput.type = "text";
  loginInput.placeholder = userLogin; var emailInput =
  document.createElement("input"); emailInput.type = "text";
  emailInput.placeholder = userEmail; console.log(emailInput);
  document.getElementById(id).appendChild(loginInput);
  document.getElementById(id).appendChild(emailInput); const confirmButton =
  document.createElement("button"); confirmButton.innerHTML = "SAVE";
  confirmButton.addEventListener("click", () => {
  axios.put(`http://localhost:3000/users/${id}`, { email:
  document.getElementById(id).children[5].value, login:
  document.getElementById(id).children[4].value, }).then((response) =>
  location.reload()).catch((err) => console.log(err)); });
  document.getElementById(id).appendChild(confirmButton); } async function
  getUserProfile(userId) {
  window.location.href=`http://localhost:3000/users/${userId}`; }
</script>